:root {
    /* COLORS */
    --white: #e9e9e9;
    --gray: #333;
    --blue: #0367a6;
    --lightblue: #008997;
    --red: #ff0000; 

    /* RADII */
    --button-radius: 0.7rem;

    /* SIZES */
    --max-width: 758px;
    --max-height: 420px;

    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    background-color: #000 !important;
    color: #e2e8f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.navbar {
    background-color: #000 !important;
    border-bottom: 1px solid #444;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
}

.navbar .form-control {
    background-color: #333;
    border: none;
    color: #fff;
    height: 38px;
    border-radius: 20px;
    padding: 0 15px;
}

.navbar .form-control::placeholder {
    color: #ccc;
}

.navbar button[type="submit"] {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.navbar button[type="submit"]:hover {
    background-color: #444;
}

.navbar button[type="submit"]:active {
    transform: scale(0.95);
}

#sidebar {
    background-color: #000 !important;
    overflow-y: auto;
    color: #fff !important;
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
    top: 56px;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
    width: 0;
}

section {
    background-color: #222730;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 550px;
    margin-top: 80px;
}

header h2 {
    font-size: 1.5rem;
    color: #edf2f7;
    font-weight: 400;
}

header p {
    margin-top: 8px;
    font-size: 0.875rem;
    color: #a0aec0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.875rem;
    color: #e2e8f0;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #4a5568;
    border-radius: 10px;
    background-color: #1a202c;
    color: #e2e8f0;
}

input[type="file"] {
    margin-bottom: 16px;
}

button[type="submit"] {
    background-color: var(--red); 
    border-radius: 20px;
    border: 1px solid var(--red); 
    color: var(--white);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.6rem 1.5rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    border-radius: 30px;
}

button[type="submit"]:hover {
  background-color: #e60000;
}

button[type="submit"]:active {
    transform: scale(0.95);
}

.profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 16px;
    object-fit: cover;
    border: 2px solid #4a5568;
}

.success-message {
    margin-top: 10px;
    font-size: 0.875rem;
    color: #48bb78;
    text-align: center;
}

.save-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-file-btn {
    padding: 8px 17px;
    font-size: 14px;
    color: #ffffff;
    background-color: var(--red); 
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.custom-file-btn:hover {
    background-color: #ff3333; 
}

.change-pic{
  margin-top: 10px;
  margin-left: 10px;
}

input:focus {
  border-color: #e60000;
  outline: none;
}